---
import Common from '../../../layouts/Common.astro';
import Post from '../../../components/Post.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('/src/content/article/*.md');
  console.log(allPosts); // デバッグ用ログ出力

  if (allPosts.length === 0) {
    throw new Error('No posts found');
  }

  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Common pageTitle={tag}>
  <p>{tag}のタグが付いた記事</p>
  <ul>
    {posts.map((post) => <li><a href={`/blog/posts/${post.frontmatter.slug}`}>{post.frontmatter.title}</a></li>)}
  </ul>
</Common>