/* styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #c5d0db;
  color: #000;
}

body {
  margin: 0 auto;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

/* ユーティリティクラス */
.text-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
