---
import Common from "../layouts/Common.astro"
import { Content as Profile } from "/src/content/about/profile.md";
---

<Common title='About'>
  <div class="profile">
    <Profile />
  </div>
</Common>

<style>
  .profile {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }

  .profile img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
  }
</style>
