---
import Social from './Social.astro'
---
<footer>
  <ul class='sns-btn'>
    <li><a href='https://github.com/kw042/'><img src='src/data/logo/github.svg' alt='github'></a></li>
    <li><a href='https://x.com/uectnk'><img src='src/data/logo/x.svg' alt='twitter'></a></li>
  </ul>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    position: fixed;
    bottom: 10px;
    right: 20px;
  }

  .sns-btn {
  display: flex;
  list-style: none;
  }

  .sns-btn img {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  }

</style>

